@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
	box-sizing: border-box;
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);

  --VeryVarkBlue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black_lightbox_background: hsl(0, 0%, 0%);
  --fs_paragraph: 1rem;
  --fw-small: 400;
  --fw-bold: 700;
  --ff: 'Kumbh Sans', sans-serif;
  --borderRadius: 8px;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}
body {
	font-family: var(--ff);
  font-size: var(--fs_paragraph);
}
.container {
  max-width: 1440px;
  margin-inline: auto;
}
.grid {
	display: grid;
	grid-template-columns: 0.1fr 1.8fr 0.1fr;
	grid-template-rows: auto;
}
.grid__contents {
	grid-row: 1;
	grid-column: 2;
}
nav .grid__contents {
  padding: 1em 0em;
  background-color: var(--White);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
a{
  text-decoration: none;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
img{
  max-width: 100%;
}
ul{
  list-style: none;
}

.hamburger{
  width: 1em;
  height: 1em;
  position: relative;
}
.openMenu, .closeMenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.hide {
  display: none;
}
.brand img {
  width: 100%;
  display: block;
}
.nav__list {
  background-color: var(--White);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 6em 2em;
  width: 100%;
  z-index: 9;
}
.list__item + .list__item {
  margin-top: 1em;
}
.nav__list a {
  color: var(--DarkGrayishBlue);
  color: var(--VeryVarkBlue);
  font-weight: var(--fw-bold);
}
.profile {
  display: flex;
  align-items: center;
  gap: .8em;
}
.avatar {
	width: 2em;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid transparent;
	transition: all 0.3s ease-out;
}
.avatar:hover {
	border: 2px solid var(--Orange);
}

main {
  margin-bottom: 2em;
}
/* GALLERY */
.product__preview {
  width: 374px;
  height: auto;
  margin-inline: auto;
  position: relative;
  
}
.product__img {
  height: 374px;
  overflow: hidden;
}
.showcase {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.previous, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--White);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.previous {
  left: .8em;
}
.next {
  right: .8em;
}
.product__img__thumbnails {
  width: 0;
  height: 0;
}
/* product__description */
.product__description {
  margin-top: 2em;
  margin-inline: auto;
  max-width: 400px;
}
.subheading {
  color: var(--Orange);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
.heading {
  font-size: 2rem;
  margin: .3em 0;
}
.product__details {
  color: var(--DarkGrayishBlue);
}
.product__price {
	display: flex;
	align-items: center;
	align-items: flex-start;
  margin: 1em 0;
}
.product__price--current {
	display: flex;
	align-items: flex-start;
	align-items: center;
	gap: .5em;
}
.price{
	font-size: 1.4rem;
	font-weight: var(--fw-bold);
}
.product__price--oldPrice {
	margin-left: auto;
	text-decoration: line-through;
	color: var(--GrayishBlue);
	font-size: 12px;
}
.discount{
	background-color: var(--PaleOrange);
	padding: .2em .6em;
	font-size: 12px;
	color: var(--Orange);
	font-weight: var(--fw-bold);
	border-radius: 5px;
}

.product__quantity{
	display: flex;

	flex-direction: column;
	gap: 1em;
}
.quantity__counter{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--LightGrayishBlue);

	padding: .8em 1em;
	border-radius: var(--borderRadius);
}
.counter{
	font-weight: var(--fw-bold);
}
.cta {
	display: block;
	background-color: var(--Orange);
	text-align: center;
	color: var(--White);
	padding: 1em;
	border-radius: 8px;
	font-size: 14px;
}
.checkout__cta{
	margin: 0 1em 1em;

}
.addToCart__cta{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}
.addToCart__img{
	filter: brightness(0) invert(1);
}
.btn {
	display: flex;
	align-items: center;
}

@media (min-width: 320px){
  nav {
    height: 5em;
  }
  .nav__list {
    width: 70%;
  }
  .profile {
    margin-left: auto;
  }
}
@media (min-width: 400px){
  .showcase {
    object-fit: contain;
  }
}
@media (min-width: 520px){
  .product__img {
    max-height: 450px;
  }
}
@media (min-width: 600px){
  .product__img {
    max-height: initial;
  }
  .showcase {
    /* 
    height: initial;
    max-width: initial;
    max-height: initial; */
    width: initial;
    object-fit: contain;
    object-fit: scale-down;
  }
}
@media (min-width: 768px){




}
@media (min-width: 800px){
  .hide, .thumbnailsContainer {
    display: block;
  }
  .hamburger, .controls{
    display: none;
  }
  nav {
    margin-bottom: 3em;
  }
  nav .grid__contents{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .nav__list {
    width: initial;
    position: static;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0;
  }
  .list__item + .list__item {
    margin-top: 0em;
  }
  .product__contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 4em;
    justify-content: center;
    align-items: center;
  }
  .product__img {
    border-radius: 8px;
  }
  .product__img__thumbnails {
    width: initial;
    height: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
  }
  .product__img__thumbnail {
    width: 4em;
    height: 4em;
    border-radius: 8px;
    border: 2px solid transparent;
    overflow: hidden;
  }
  .is--active {
    opacity: .5;
    border-color: var(--Orange);
  }

  .product__description {
    margin: 0em;
  }
}